{
    "Version": "1",
    "Statement": [
        {
            "Action": [
                "ecs:DescribeInstanceAttribute",
                "ecs:DescribeInstances"
            ],
            "Resource": [
                "*"
            ],
            "Effect": "Allow"
        },
        {
            "Action": [
                "log:GetProject",
                "log:GetLogStore",
                "log:GetConfig",
                "log:GetMachineGroup",
                "log:GetAppliedMachineGroups",
                "log:GetAppliedConfigs",
                "log:GetIndex",
                "log:GetSavedSearch",
                "log:GetDashboard",
                "log:GetJob"
            ],
            "Resource": [
                "*"
            ],
            "Effect": "Allow"
        },
        {
            "Action": [
                "cr:GetAuthorizationToken",
                "cr:ListInstanceEndpoint",
                "cr:PullRepository",
                "cr:GetInstanceVpcEndpoint"
            ],
            "Resource": [
                "*"
            ],
            "Effect": "Allow"
        }
    ]
}